<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/app.css" type="text/css">
    <title>Secret Diary</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/ideas" class="navbar-brand">SecretDiary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#this">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="this">
            <ul class="nav navbar-nav"> 
                <%if(!currentUser){%>
                    <li>
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                <%}else{%>
                    <li>
                        <a href="#" class="nav-link">Hello <%=currentUser.username%></a>
                    </li>
                    <li>
                        <a href="/logout" class="nav-link">LogOut</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </nav>
    <div class="container">
        <%if(error && error.length>0){%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
        <%}%>
        <%if(success && success.length>0){%>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
        <%}%>
