<%- include('./partials/header.ejs') %>
<div class="row">
    <div class="col-md-6" id="viewBox">
        <h1 class="display-4">One Place To Store all Your Secrets..</h1>
        <p><a href="/login">Login</a> if alredy registered</p>
    </div>
    <div class="col-md-6 text-center" id="loginDiv">
        <h1>Sign Up!</h1>
        <form action="/register" method="POST" class="d-flex flex-column">
            <input type="text" placeholder='Username' name="username" required='required' class="form-control inputBox">
            <input type="password" placeholder='Password' name="password" required='required' class="form-control inputBox">
            <button class="btn btn-light" id="submitButton">Submit</button>
        </form>
    </div>
</div>

<%- include('./partials/footer.ejs') %>